ErrorDocument 404 /404

<IfModule mod_rewrite.c>

	RewriteEngine on
	RewriteBase /
	
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^documentation/reference/([^\/]+)/?$ index.php?view=module&module=$1 [L,NC,QSA]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php?view=$1 [L,NC,QSA]

</IfModule>
