body {
	background-color: #f1e2eb;
	font-family: monospace, courier;
	font-size: 18px;
	margin: 0px;
	padding: 0px;
}

pre {
	padding: 20px;
}

#header-logo {
	height: 64px;
}

#header {
	text-align: center;
}

#header > a {
	background-color: #6b345a;
	display: block;
	padding: 10px;
	padding-bottom: 5px;
	text-align: center;
}

#header > a:hover {
	background-color: #395c8c;
}

.atom {
	color: #6b345a;
}

.atom a {
	background-color: #d7b1ca;
	color: #6b345a;
	text-decoration: none;
}

.atom a:hover {
	background-color: #bfd1ea;
	color: #395c8c;
	text-decoration: none;
}

.number {
	color: #bb2929;
}

.variable {
	color: #346b5f;
}

.char, .string {
	color: #346b35;
}

.tag {
	color: #d45500;
}

.l_paren, .r_paren, .bar {
	color: #333333;
	font-weight: bold;
}

.comment {
	color: #666666;
	font-style: oblique;
}

.list:hover {
	background-color: #e2e8f1;
}